In [85]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sbn

# Load dataframes
awards_players = pd.read_csv('data/awards_players.csv')
coaches = pd.read_csv('data/coaches.csv')
players_teams = pd.read_csv('data/players_teams.csv')
players = pd.read_csv('data/players.csv')
series_post = pd.read_csv('data/series_post.csv')
teams_post = pd.read_csv('data/teams_post.csv')
teams = pd.read_csv('data/teams.csv')

In [86]:
# Cleaning Awards Players
awards_players.iloc[:, :-1]  # Drop the last column # Drop lgID column since all values are 'WNBA'

#Add the missing "award" value for line 30
awards_players.at[28, 'award'] = "Kim Perrot Sportsmanship Award" 
awards_players.head(10)

     playerID                               award  year  lgID
0  thompti01w  All-Star Game Most Valuable Player     1  WNBA
1  leslili01w  All-Star Game Most Valuable Player     2  WNBA
2  leslili01w  All-Star Game Most Valuable Player     3  WNBA
3  teaslni01w  All-Star Game Most Valuable Player     4  WNBA
4  swoopsh01w  All-Star Game Most Valuable Player     6  WNBA
5  douglka01w  All-Star Game Most Valuable Player     7  WNBA
6   fordch01w  All-Star Game Most Valuable Player     8  WNBA
7   cashsw01w  All-Star Game Most Valuable Player    10  WNBA
8  coopemi01w                   Coach of the Year     1  WNBA
9  hugheda99w                   Coach of the Year     2  WNBA

In [87]:
# We can drop 'lgID', since all values are 'WNBA'
players_teams.drop('lgID', axis=1, inplace=True)

In [88]:
# We can drop 'lgID', since all values are 'WNBA'
coaches.drop('lgID', axis=1, inplace=True)

In [89]:
# We can drop 'firstseason', since all values are '0'
players.drop('firstseason', axis=1, inplace=True)
# We can drop 'lastseason', since all values are '0'
players.drop('lastseason', axis=1, inplace=True)

In [90]:
# We don't believe that the 'rebounds' attribute is relevant, so we drop it
players_teams.drop('rebounds', axis=1, inplace=True)

In [91]:
# We can drop 'lgID', since all values are 'WNBA'
teams.drop('lgID', axis=1, inplace=True)
# We can drop 'franchID', since values are the same as 'teamID'
teams.drop('franchID', axis=1, inplace=True)
# We can drop 'divID', since all values are null
teams.drop('divID', axis=1, inplace=True)
# We can drop 'seeded', since all values are 0
teams.drop('seeded', axis=1, inplace=True)
# We don't believe that the 'name' attribute is relevant, so we drop it
teams.drop('name', axis=1, inplace=True)
# All of these attributes are always 0, se we can simply drop them
teams.drop(['tmORB', 'tmDRB', 'tmTRB', 'opptmORB', 'opptmDRB', 'opptmTRB'], axis=1, inplace=True)
# We don't believe that the 'min' attribute is relevant, so we drop it
teams.drop('min', axis=1, inplace=True)
# We don't believe that the 'attend' attribute is relevant, so we drop it
teams.drop('attend', axis=1, inplace=True)
# We don't believe that the 'arena' attribute is relevant, so we drop it
teams.drop('arena', axis=1, inplace=True)